/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "bootstrap-datepicker3";
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

body {
  padding-top: 70px;
  background: url(image_path("workspace.jpg")) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Indie Flower', cursive;
  font-size: 18px;
}
.navbar-default {
  background: rgba(0,0,0,0.4);
  border: none;
}

a {
  color: white;

  &:hover {
    color: #b3b3b3;
    text-decoration: none;
  }
}

.navbar-default .navbar-brand {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  color: white;

  &:hover {
    color: #b3b3b3;
  }
}

#notice {
  color: white;
}

#contents {
  padding: 0 7% 7% 7%;
}

h1 {
  color: white;
  font-size: 30vh;
  text-align: center;
  line-height: 90%;
  text-shadow: 0 8px 6px -6px;
}

h4 {
  color: #b3b3b3;
  font-size: 10vh;
  text-align: center;
  padding-bottom: 10px;
}

h4 {
  font-size: 7vh;
}

.pull-right {
  padding-left: 15px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
}

#task-form {
  display: none;
}

a.task {
    color: black;

    &:hover {
      text-decoration: line-through;
      background: none;
      color: #ccc;
    }
}

a.pencil_edit {
    color: black;
}


.adding_tasks, .showing_tasks {
  width: 40%;
  margin: 0 auto;
}

.adding_tasks {
  padding-bottom: 50px;
}

.showing_tasks {
  width: 60%;
}

.sign_in_user_or_show_user {
  width: 200px;
  margin: 0 auto;

  li {
      display: inline-block;
    }
}

@media only screen and (max-width: 768px) {
  .adding_tasks, .showing_tasks {
    width: 90%;
  }
}

.btn-info {
  margin: 0 auto;
  background: white;
  border: white;
  color: black;

  &:hover {
    background: #b3b3b3;
  }
}

#submit-button {
  text-align: center;
}