/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "bootstrap-datepicker3";
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

body {
  margin-top: 70px;
  background: #29DB6B;
  font-family: 'Indie Flower', cursive;
  font-size: 18px;
}

.navbar-brand {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}

#contents {
  padding: 0 7% 7% 7%;
}

h1 {
  color: white;
  font-size: 9em;
  text-align: center;
  line-height: 90%;
  text-shadow: 0 8px 6px -6px;
}

h2 {
  font-size: 3em;
  text-align: center;
  padding-bottom: 10px;
}


.text-right {
  padding-top: 10px;
}

.pull-right {
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 15px;
}

#task-form {
  display: none;
}

#tasks {
  padding-right: 30px;
}

a.task {
    color: black;

    &:hover {
      text-decoration: line-through;
      background: none;
      color: #ccc;
    }
}

a.pencil_edit {
    color: black;
}
