<% unless current_page?(signin_path) %>
<div class="text-right">
  <% if current_user %>
  <%= image_tag current_user.small_image, class: 'img-responsive' %></li>
  <%= link_to fa_icon('sign-out', text: 'Sign Out'), signout_path, id: 'sign_out'%>
  <% else %>
    <%= link_to fa_icon('sign-in', text: 'Sign in with Facebook'), '/auth/facebook', id: 'sign_in' %>
  <% end %>
  </div>
<% end %>