<div class="text-right">
  <% if current_user %>
    <li class="pull-left"><%= image_tag current_user.small_image, class: 'img-responsive img-user' %></li>
    <li class="pull-right"><%= link_to fa_icon('sign-out', text: 'Sign Out'), signout_path, id: 'sign_out'%></li>
  <% else %>
    <li class="pull-right"><%= link_to fa_icon('sign-in', text: 'Sign in with Facebook'), '/auth/facebook', id: 'sign_in' %></li>
  <% end %>
  </div>