<p id="notice"><%= notice %></p>

<% if current_user %>
<header>
<h1>Tasker</h1>
<h4>Keeping Your Tasks in Order</h4>
</header>

<!-- Add Task Area -->
  <div class="adding_tasks">
    <%= link_to fa_icon('plus', text: 'Add a task'), new_user_task_path, remote: true, class: 'btn btn-block btn-default', id: 'new-button' %>
<!-- Form to be populated by JQuery -->
    <div id="task-form"></div>
  </div>

<!-- Task Area -->
<div class="showing_tasks" id= "tasks">
    <%= render @user_tasks %>
</div>

<% else %>
  <% redirect_to signin_url %>
<% end %>