<p id="notice"><%= notice %></p>

<% if current_user %>
<h1>Tasker</h1>
<h2>Keeping Your Tasks in Order</h2>
<div class="row">

<!-- Add Task Area -->
  <div class="col-sm-4">
    <%= link_to fa_icon('plus', text: 'Add a task'), new_user_task_path, remote: true, class: 'btn btn-block btn-default', id: 'new-button' %>
<!-- Form to be populated by JQuery -->
    <div id="task-form"></div>
  </div>

<!-- Task Area -->
<div class="col-sm-8">
  <div id="tasks">
    <%= render @user_tasks %>
    </div>
</div>

<% else %>
  <% redirect_to signin_url %>
<% end %>