<p id="notice"><%= notice %></p>

<h1>To Do List</h1>

<div class="row">

<!-- Add Task Area -->
  <div class="col-sm-4">
  <h4>New Task</h4>
    <%= link_to fa_icon('plus', text: 'Add a task'), new_user_task_path, remote: true, class: 'btn btn-block btn-default', id: 'new-button' %>
<!-- Form to be populated by JQuery -->
    <div id="task-form"></div>
  </div>

<!-- Task Area -->
<div class="col-sm-8">
<h4>All Tasks</h4>
  <div id="tasks">
    <%= render @user_tasks %>
    </div>
</div>